<div class="container">
  <div class="alert alert-danger" *ngIf="!searchResult.length && searchText">Books search "{{searchText}}" not found</div>
  <div class="controls d-flex align-items-center mb-3">
    <div class="col-4">
      <input type="text" class="form-control" name="searchText"
             [(ngModel)]="searchText" placeholder="Search book"
             (keyup)="searchBook()"
      />
    </div>
    <div class="col-4">
      <app-currency></app-currency>
    </div>
  </div>
  <div class="row" *ngIf="!searchText">
    <div class="col-4" *ngFor="let book of books">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-center">{{ book.name }} <span class="badge badge-success ml-auto">{{ (book.price * currentCurrency.coefficient) | currency: currentCurrency.name }}</span> </div>
          <div class="d-flex align-items-center">
            <span class="text-primary">{{ book.date| customDate:"ru-RU":"short"}}</span>
            <span class="text-info">{{ book.author }}</span>
          </div>
          <p class="card-text">{{ book.description }}</p>
          <ul *ngIf="book.links.length">
            <li *ngFor="let link of book.links"><a href="{{ link.link }}">{{ link.type }}</a></li>
          </ul>
          <button class="btn btn-success mt-3" *ngIf="!book.isAddBasket" (click)="book.isAddBasket = true; addBookToBasket(book, currentCurrency)">Add to Basket</button>
          <button class="btn btn-warning mt-3" *ngIf="book.isAddBasket" (click)="book.isAddBasket = false; deleteBookFromBasket(book.id)">Delete from Basket</button>
          <a class="btn btn-primary mt-3 ml-3" href="#">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="searchText">
    <div class="col-4"  *ngFor="let book of searchResult">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex align-items-center">{{ book.name }} <span class="badge badge-success ml-auto">{{ (book.price * currentCurrency.coefficient) | currency: currentCurrency.name }}</span> </div>
          <div class="d-flex align-items-center">
            <span class="text-primary">{{ book.date| customDate:"ru-RU":"short"}}</span>
            <span class="text-info">{{ book.author }}</span>
          </div>
          <p class="card-text">{{ book.description }}</p>
          <ul *ngIf="book.links.length">
            <li *ngFor="let link of book.links"><a href="{{ link.link }}">{{ link.type }}</a></li>
          </ul>
          <button class="btn btn-success mt-3" *ngIf="!book.isAddBasket" (click)="book.isAddBasket = true; addBookToBasket(book, currentCurrency)">Add to Basket</button>
          <button class="btn btn-warning mt-3" *ngIf="book.isAddBasket" (click)="book.isAddBasket = false; deleteBookFromBasket(book.id)">Delete from Basket</button>
          <a class="btn btn-primary mt-3 ml-3"  href="#">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
