<div class="contaner">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-centr mb-4 mt-4">
            <span class="text-primary">Book Panel</span> Register
          </h1>
          <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" formControlName="email"
                     [ngClass]="{ 'is-invalid': submitted && getField.email.errors }" />
              <div class="d-block invalid-feedback" *ngIf="submitted && getField.email.errors">
                <div *ngIf="getField.email.errors.required">Email is required</div>
                <div *ngIf="getField.email.errors.email">Email wrong format</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && getField.password.errors }" />
              <div class="d-block invalid-feedback" *ngIf="submitted && getField.password.errors">
                <div *ngIf="getField.password.errors.required">Password is required</div>
                <div *ngIf="getField.password.errors.minlength">Password must be at least {{ minSymbols }} characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                     [ngClass]="{ 'is-invalid': submitted && getField.confirmPassword.errors }" />
              <div class="d-block invalid-feedback" *ngIf="submitted && registerForm.hasError('notSame')">
                <div>Passwords do not match</div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" [disabled]="fo">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
